<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        {{ currentCard.header }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ currentCard.title }}</h5>
        <p class="card-text">{{ currentCard.story }}</p>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <ul style="list-style: none;">
      <li *ngFor="let answer of currentCard.answers;let i = index">
        <label>
          <input type="radio" [checked]="answer.selected" (change)="selectAnswer(answer)"  name="radiogroup" />
          {{ answer.text }}
        </label>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="nextCard()"><fa-icon style="color:lightgreen" [icon]="faArrowRight"></fa-icon></button>
  </div>
</div>
