<div class="row">
  <div class="col">
    <h2>Stories</h2>
  </div>
  <div class="col">
    <a [routerLink]="['/story-edit']" class="btn btn-primary float-right">
      <fa-icon style="color:lightgreen" [icon]="faPlus"></fa-icon>
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <ag-grid-angular style="width: 100%; height: 400px;"
                     class="ag-theme-balham"
                     [gridOptions]="gridOptions"
                     [rowData]="stories$ | async">
    </ag-grid-angular>
  </div>
</div>
